@import "../common.scss";

html, body {
  height: 100%;
}
#content, .outer-container {
  min-height: 100%;
  height: 1px;
}

html {
  body {
    font-family: 'Noto Sans', sans-serif;

    #content {

      $footer-height: 50px;

      .outer-container {
        @media (min-width: $screen-sm-min) {
          padding-top: 10px;
        }

        .top-level.container {
          min-height: 100%;
          margin-bottom: -$footer-height;
          padding: 0 0 $footer-height + 40px 0;
          width: 100%;
        }

        .footer {
          position: relative;
          height: $footer-height;
          padding: 20px;

          p {
            color: $primary-color-text;
            opacity: $opacity-disabled;
            text-align: right;
            margin: 0;
          }
        }
      }
    }
  }
}

// Navigation

nav {
  border-top: 10px solid $primary-color;
  width: 100%;
  z-index: 9999;

  @media (min-width: $screen-sm-min) {
    position: fixed;
    top: 0;
  }

  h1 {
    padding: .4em;
    margin: 0 0 .4em 0;
    @include font-mono;
    opacity: $opacity-primary;
    background-color: $primary-color-light;
    font-size: 130%;

    @media (min-width: $screen-sm-min) {
      background-color: transparent;
    }
  }

  a {
    color: $accent-color;
    cursor: pointer;

    &.current {
      font-weight: bold;
    }
  }

  @media (min-width: $screen-sm-min) {
    ol.navigation {
      width: (100% - $column-width) / 2;
      padding: .4em .6em 0 2em;
    }
  }
}

// Paragraphs

.top-level {

  tt {
    color: #555;
    font-size: 120%;
    @include font-mono;
  }

  p, .text {
    margin: 0 auto 1em auto;
    width: 95%;
    opacity: $opacity-primary;
    text-align: left;
    @media (min-width: $screen-sm-min) {
      text-align: justify;
      width: $column-width;
    }
  }

  h1, h2 {
    @include font-header;
    color: $primary-color-dark;
    padding: 0 2%;
    @media (min-width: $screen-sm-min) {
      padding: 0 (100% - $column-width)/2;
    }
  }
}
