$color_accent: #5DADE2;
$color_accent_lt: #85C1E9;

html, body {
  height: 100%;
}
#content, .outer-container {
  min-height: 100%;
  height: 1px;
}

html {
  body {
    font-family: 'Noto Sans', sans-serif;

    p {
      text-align: justify;
      @media (max-width: 480px) {
        text-align: left;
      }
      margin-bottom: 1.2em;
    }
    h1, h2, h3, h4 {
      font-family: 'Lobster', serif;
    }
    tt {
      color: #555;
      font-size: 120%;
      font-family: 'Inconsolata', monospace;
    }

    #content {

      .navbar-brand {
        background-color: $color_accent_lt;
        text-shadow: 0 0 5px $color_accent;
        color: white;
      }

      $footer-height: 70px;

      .outer-container {
        padding-top: 60px;

        .top-level.container {
          min-height: 100%;
          margin-bottom: -$footer-height;
          padding-bottom: $footer-height + 40px;
        }

        .footer {
          background-color: $color_accent_lt;
          border-top: 1px solid $color_accent;
          box-shadow: inset 0 -10px 20px $color_accent;
          color: white;
          position: relative;
          height: $footer-height;
          padding: 20px;
          text-shadow: 0 0 5px $color_accent;
        }
      }
    }
  }
}
